header {
    background-color: $tertiary;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 90px;

    .headerImgContainer {
        width: 45%;

        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    .headerContent {
        width: 55%;
        color: $primary;
        
        .contentContainer {
            margin: 0 auto;
            width: 65%;
        }
    }

}

// contactHeader and contactContent
.contactHeader {
    background-color: $quaternary;
    padding-top: 120px;
    .contactContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }
    &::after {
        content: "";
        width: 100%;
        height: 150px;
        background-image: url(../assets/wave.svg);
        background-color: $quaternary;
        background-repeat: no-repeat;
        background-size: 100% 150px;
    }
}